<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.underdog.mapper.boardMapper">

	<insert id="registerProc" parameterType="BoardVO">
		insert into board (bo_idx,
							bo_me_email,
							 bo_bbsid,
							 bo_me_nick,
							 bo_title,
							 bo_content,				
							 bo_regip,
							 bo_regdate)
		values(BO_IDX_SEQ.nextval,
				#{bo_me_email},
				#{bo_bbsid},
		 		#{bo_me_nick},
		 		#{bo_title},
		 		#{bo_content},		 
		 		#{bo_regip},
		 		sysdate)
		 		<!-- 삭제유무 삭제일 이해안됨 -->
	</insert>
	
<select id="list" parameterType="String" resultType="BoardVO">
	select * from board where bo_bbsid = #{bo_bbsid}
</select>

<select id="board_cont" parameterType="Map" resultType="BoardVO">
	select * from board where bo_idx = #{bo_idx}
</select>






</mapper>