<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.underdog.mapper.boardMapper">

<!-- 게시글 등록 -->
	<insert id="registerProc" parameterType="BoardVO">
		insert into board (bo_idx,
							bo_me_email,
							 bo_bbsid,
							 bo_me_nick,
							 bo_title,
							 bo_content,				
							 bo_regip,
							 bo_regdate)
		values(BO_IDX_SEQ.nextval,
				#{bo_me_email},
				#{bo_bbsid},
		 		#{bo_me_nick},
		 		#{bo_title},
		 		#{bo_content},		 
		 		#{bo_regip},
		 		sysdate)
		 		<!-- 삭제유무 삭제일 이해안됨 -->
	</insert>
	
<!-- 게시판 리스트 불러오기 -->
<!-- <select id="list" parameterType="String" resultType="BoardVO"> -->
<!-- 		select * from board where bo_bbsid = #{bo_bbsid} and bo_status = 0;		 -->
<!-- </select> -->


<!-- 게시판 리스트 불러오기 + 페이징 -->
 <select id="listCriteria" resultType="BoardVO">
 <![CDATA[
 select * from 
 		 (select rownum rnum,bo_idx,bo_me_email,bo_bbsid,bo_me_nick,
 		 bo_title,bo_content,bo_hit, bo_regdate,bo_regip,bo_status,
 		 bo_deldate from 
 		 (select * from board where bo_bbsid = #{bo_bbsid} and bo_status = 0
 		 	order by bo_idx desc, bo_regdate desc))   
	   		 where rnum >= #{pageStart}  and rnum <= (#{page} * #{perPageNum})
 ]]>  
 </select>

<!-- 총 게시물 수  -->
 <select id="listCountCriteria" resultType="int">
 <![CDATA[
 select count(bo_idx) from board 
 where bo_bbsid = #{bo_bbsid} and bo_status = 0 
 ]]>
 </select>
 
 
 <!-- 게시판 리스트 불러오기 + 페이징 + 검색-->
 <select id="listSearchCriteria" parameterType="SearchCriteria" resultType="BoardVO">
 <![CDATA[
 select * from 
 		 (select rownum rnum,bo_idx,bo_me_email,bo_bbsid,bo_me_nick,
 		 bo_title,bo_content,bo_hit, bo_regdate,bo_regip,bo_status,
 		 bo_deldate from 
 		  (select * from board where bo_bbsid = #{bo_bbsid} and bo_status = 0
]]>

	 <include refid="search"></include>
	 
 <![CDATA[		 
 		 	order by bo_idx desc, bo_regdate desc))   
	   		 where rnum >= #{pageStart}  and rnum <= (#{page} * #{perPageNum})
 ]]>  
 </select>


<!-- 총 게시물 수  + 검색-->
 <!-- <select id="listSearchCount" resultType="int">
  select count(*) from board 
 	where bo_bbsid = #{bo_bbsid} and bo_status = 0  
 <include refid="search"></include>
 </select>  -->
 
 
 <!-- 총 게시물 수  + 검색-->
<select id="listSearchCount" parameterType="SearchCriteria" resultType="int"> 
 select count(*) from board 
 where bo_bbsid = #{bo_bbsid} and bo_status = 0
 
 <include refid="search"></include>
 	
</select> 
 
 
 
 
<!-- 상세내용 조회 및 수정하기 폼 내용 불러오기 -->
<select id="board_cont"  resultType="BoardVO">
	select * from board where bo_idx = #{bo_idx}
</select>


<!-- 게시글 조회수 증가 -->
<select id="hit" parameterType="Map">
	update board set bo_hit = bo_hit + 1 where bo_idx = #{bo_idx}
</select>


<!-- 게시글 삭제 -->
<select id="board_delproc" parameterType="int">
	update board set bo_status = 1, bo_deldate = sysdate where bo_idx = #{bo_idx}
</select>


<!-- 게시글 수정 -->
<update id="modifyProc">
	update board 
		set bo_title = #{bo_title},
			bo_content = #{bo_content}				
	where bo_idx = #{bo_idx}
</update>


 
<!--  ============검색 조건========================== -->
 
  <sql id="search">
	<if test="searchType != null" >
		<if test="searchType == 'bo_title'">
			and bo_title like '%' || #{keyword} ||'%'
		</if>
		<if test="searchType == 'bo_content'">
			and bo_content like '%' || #{keyword} ||'%'
		</if>
		<if test="searchType == 'bo_me_nick'">
			and bo_me_nick like '%' || #{keyword} ||'%'
		</if>
	</if>
</sql>

</mapper>