<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.underdog.mapper.ManagerMapper">



	<!-- 회원정보 가져오기 + 페이징 처리 -->
	<select id="listSearchCriteria" parameterType="SearchCriteria" resultType="MemberVO">
		 <![CDATA[select * from 
		(select rownum rnum,
		me_email,
		me_nick,
		 me_pw,
		 me_birth,
		 me_regdate,
		 me_exitdate,
		 me_status,
		 me_grade,
		 me_keyword,
		 me_point,
		 me_zipcode,
		 me_add1,
		 me_add2
 		 from 
 		 (select * from member where me_status = 0
 		 	order by  me_regdate desc))   
	   		 where rnum >= #{pageStart}  and rnum <= (#{page} * #{perPageNum})
		 ]]>



	</select>


	<!-- 총 회원 수 -->
	<select id="listSearchCount" parameterType="Criteria" resultType="int">
	 <![CDATA[
		select count(me_email) from member 
		where me_status = 0
	 ]]>
	</select>
	
	<!-- 회원 삭제 -->
	<select id="delproc" parameterType="String">
		update member set me_status = 1, me_exitdate = sysdate where me_email = #{me_email}
	</select>
	




</mapper>