<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.underdog.mapper.memberMapper">

	<!-- 회원가입시 이메일 중복 유무 체크 -->
	<select id="joinCheckEmail" resultType="int">
		SELECT COUNT(me_email) FROM member WHERE me_email = #{me_email}
	</select>

	<!-- 회원가입 정보 등록 진행 -->
	<insert id="joinProc" parameterType="MemberVO">
		INSERT INTO member (
		me_email, me_pw, me_name, me_nick, me_birth
		, me_regdate, me_status, me_grade, me_keyword, me_point
		, me_zipcode, me_add1, me_add2
		)
		VALUES (
		#{me_email}, #{me_pw}, #{me_name}, #{me_nick}, #{me_birth}
		, sysdate, 0, 0, 'test', 0
		, #{me_zipcode}, #{me_add1}, #{me_add2}
		)
	</insert>

	<!-- 로그인 시도시 이메일과 암호 비교 -->
	<select id="loginProc" parameterType="MemberVO" resultType="MemberVO">
		<![CDATA[
		SELECT me_email, me_pw, me_name, me_nick, me_grade
		FROM member 
		WHERE me_email=#{me_email} AND me_pw=#{me_pw}
		]]>
	</select>
</mapper>
