<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.underdog.mapper.replyMapper">

<insert id="registerProc">
	insert into reply (
		re_idx,
		re_me_email,
		re_bo_idx,
		re_content,
		
		re_ref,
		re_level,
		re_step,
		
		re_regip,
		re_regdate
	) values (
		RE_IDX_SEQ.nextval,
		#{re_me_email},
		#{re_bo_idx},
		#{re_content},
		
		RE_IDX_SEQ.nextval,
		0,
		0,
		
		#{re_regip},
		sysdate
	) 
</insert>


</mapper>