* { font-size: 12px }
.t_left { text-align: left;}
.font_16px { font-size: 16px; font-weight: bold;}
.font_12px { font-size: 12px }
.float_r { float: right;}
.float_l { float: left;}
.dsp_ib { display: inline-block;}
.margin_a { margin: auto}
.ta_c { text-align:center }


